<?xml version="1.0"?>
<model>
  <name>Cave</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Atharv Kulkarni</name>
    <email>your@email.com</email>
  </author>
  <description>
    A static cave environment model (based on smallcaves2.dae) for drone simulation.
  </description>
</model>
